<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
function goBack() {
  window.history.back();
}
</script>

<style>
.card {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  margin: auto;
  text-align: left;
  font-family: Times New Roman", Times, serif;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
<div class="card">
		<div class="col-xs-12 col-sm-9 col-md-9">

			<div class="item-page">


	<font color="WHITE"><marquee direction="left" style="background:RED"><h4>Booking Terms &amp; Conditions, Resort Rules &amp; Policies</h4></marquee></font>


<p style="text-align: center;"><span style="font-size: large;"><strong><span style="text-decoration: underline;"><span style="color: #000000;">Bookings Terms &amp; Conditions</span></span></strong></span></p>
<ul>
<li>All rates are quote in RM (Ringgit Malaysia) which are inclusive of the government tax and service charge.</li>
<li>Rates are subject to change without prior notice.</li>
<li>Payment can be made by company’s cheque, cash or credit card.</li>
<li>Reservations will be release automatically if full payment is not received by the hotel.</li>
<li>Should guest arrived without prepayment, the Hotel reserves the right to collect full payment upon check-in.</li>
<li>Check-in time is 2.00 pm and check-out time is 12.00 noon.</li>
<li>Early check-in are subject to room availability.</li>
<li>For late check-out request, additional charge will be applied.</li>
<li>Cancellation less than 3 days, 1 night’s charge. No Show or short stay &amp; High season cancellation 100% will be charged. </li>
</ul>
<p align="center"><span style="font-size: large;"><strong><span style="text-decoration: underline;"><span style="color: #000000;">Hotel Rules And Management policies</span></span></strong></span> </p>
<p><span style="color: #000000;">In Order to make your stay as pleasant as possible, the hotel’s Management requests your co-operation in observing the following as an agreement between the guest and 12FLY Hotel under which rooms are permitted to be used by the guest(s):-</span> </p>
<p><span style="color: #000000;"><strong>1. </strong><strong>Check-in / Arrival</strong></span> </p>
<p><span style="color: #000000;">Check-in time is at 2.00 pm; please present your Identity card, Passport or Temporary Residence Card upon Check-in. By Law visitors must present personal documents for hotel records upon request such as hotel voucher / confirmation.</span>  </p>
<p><strong><span style="color: #000000;">2. Check out / Departure</span></strong> </p>
<p><span style="color: #000000;">Check out time is at 12.00 noon; please inform the reception if you wish to retain your room beyond this time. Extension will be given depending on the availability. </span> </p>
<p><strong><span style="color: #000000;">3. Early Check-in &amp; Late Check-out</span></strong> </p>
<p><span style="color: #000000;">We are pleased to accommodate early arrival, subject to availability. Please make your request as early as possible to ensure availability. To guarantee early arrival, the room must be booked and paid for the prior night. </span> </p>
<p><span style="color: #000000;">Hourly extension at 10.00MYR exclude tax per hour for the first two hour. A 50% of the room charge will be applied between the 3<sup>rd</sup></span><span style="color: #000000;"> hour to 6</span><sup><span style="color: #000000;">th</span></sup><span style="color: #000000;"> hour but not exceed 6.00PM. On failure of the guest to vacate the room on expiry or period the management shall have the right to remove the guest and his/her belongings from the room occupied by the Guest.</span> </p>
<p><strong><span style="color: #000000;">4. Settlement of Bills </span></strong> </p>
<p><span style="color: #000000;">Bills must be settled upon check-in either by cash or credit card, personal cheques are not accepted.</span> </p>
<p><span style="color: #000000;"><strong>5. </strong><strong>Cancellation Policy, No-Show &amp; Short Stay</strong></span> </p>
<p><span style="color: #000000;">Bookings that have been confirmed and subsequently cancelled less than 3 days from check–in, we will charge a cancellation fee of 1 night’s stay for each room booked to your credit card. In the event of a “No Show” or short stay, we will charge for the entire length of stay. High season cancellation for stays from 21 December to 1 January (Christmas &amp; New Year), for cancellation received less than 3 days from check-in, 100% will be charged.</span> </p>
<p><strong><span style="color: #000000;">6. Lost &amp; Found </span></strong> </p>
<p><span style="color: #000000;">Should any guests lose personal belongings while staying at the Hotel, if recovered, the item will be recorded as 'found'. Hotel keeps detailed records of all 'found' items, and will make a reasonable effort to contact the guest if an item is left in the hotel's guest room after the guest has checked-out which will be placed in our Lost &amp; Found store/safe box. We will ship items back at the owner's expense upon request. Any items, which are not claimed within ninety (90) days, will be donated to a local charity or discarded.</span></p>
<p><strong><span style="color: #000000;">7. Guest's Valuables / Articles</span></strong> </p>
<p><span style="color: #000000;">The Hotel’s Management will not in any way whatsoever be responsible for any loss / or damage to the Guest's valuable/article unless valuable/article are declared upon arrival/check-in and only to be stored or keep in hotel’s safe box, which located either in Manager’s Office or in Account Dept. Office. Guests will be issued with a receipt for any valuables/articles kept with the hotel.</span> </p>
<p><strong><span style="color: #000000;">8. Guest's Belongings in rooms</span></strong> </p>
<p><span style="color: #000000;">Guests are particularly requested to lock the door of their rooms when going out or going to bed. The Hotel’s Management will not in any way whatsoever be responsible for any loss / or damage to the Guest's belongings or any other property from either the hotel room or any other part of the hotel for any cause whatsoever including theft of pilferage.</span> </p>
<p><strong><span style="color: #000000;">9. Damage to Hotel Property</span></strong> </p>
<p><span style="color: #000000;">The guest will be held responsible for any loss or damage to the Hotel property caused by themselves, their guests or any person for whom they are responsible.</span> </p>
<p><strong><span style="color: #000000;">10. Luggage Storage &amp; Indemnity Form</span></strong> </p>
<p><span style="color: #000000;">Subject to availability of the storage space, the guest can store luggage in the luggage room, at the guest's sole risk as to loss or damage from any cause, guest who wish to stored luggage overnight or more than 24 hours are required to submitting complete “luggage indemnity form” together with their belongings. Luggage must not be stored for period of over 100 days.</span> </p>
<p><span style="color: #000000;"><strong>11. Fire Safety Policy</strong> </span> </p>
<p><span style="color: #000000;">The Hotel is fully equipped with smoke detectors, heat detectors and emergency evacuation plan in all rooms, and fire extinguishers, fire hose reels, and floors evacuation plans in all floors. </span> </p>
<p><span style="color: #000000;"><strong>12. Pet Policy</strong> </span> </p>
<p><span style="color: #000000;">No pets are allowed in the hotel premises.</span> </p>
<p><strong><span style="color: #000000;">13. Smoking Policy</span></strong> </p>
<p><span style="color: #000000;">Smoking is prohibited in all the enclosed areas within the hotel without exception. This includes guest rooms, conference and meeting rooms, hallways, elevators, stairs, restrooms, lobby areas and all other enclosed facilities and areas. Smoking only allowed at gazetted smoking area outside the hotel lobby / entrance and at the Balconies for specific guest rooms types attach with Balcony only.</span> </p>
<p><span style="color: #000000;">If a smoking violation occurs in a room, the client will be charged a 100.00MYR non-refundable cleaning fee. We appreciate your cooperation in ensuring that our guests and employees are not subject to second hand smoke.</span> </p>
<p><span style="color: #000000;"><strong>14</strong><strong>. </strong><strong><span style="font-family: Calibri;">Disturbance </span></strong></span> </p>
<p><span style="color: #000000;">The Hotel’s Management reserves the right to require a guest to leave if he/she is causing a disturbance, annoying other guests or Hotel staff or is behaving in an unacceptable manner. It is agreed that the guest will conduct him/herself in a respectable manner and will not cause any nuisance or annoyance within the hotel premise.</span> </p>
<p><span style="color: #000000;"><strong>15</strong><strong>. </strong><strong>Housekeeping Service</strong></span> </p>
<p><span style="color: #000000;">We provide housekeeping service everyday between the hours of 10AM to 5:00 PM.</span> </p>
<p><strong><span style="color: #000000;">16. Equipment Rental</span></strong> </p>
<p><span style="color: #000000;">Hotel provides umbrellas, iron/iron board, hair dryers and adaptors for a refundable deposit of 20-50MYR.</span> </p>
<p><strong><span style="color: #000000;">17. Management's Rights on Guest's Luggage and Belongings</span></strong> </p>
<p><span style="color: #000000;">In the case of default in payment of dues by a guest, the hotel shall have the rights on their luggage and belongings from the room occupied by him / her, and are entitled to detain the same and to sell or auction such property at any time without reference to the guest. The net sale proceeds will be appropriate towards the amount due by the guest without prejudice to the hotel's rights to adopt such further recovery proceedings as may be required.</span> </p>
<p><span style="color: #000000;">The Hotels also has the right to request any guest to vacate his/her room or other areas of the hotel forthwith, without previous notice and without assigning any reason whatsoever, and the guest shall be bound to vacate when requested to do so.</span> </p>
<p><strong><span style="color: #000000;">18. Relation between Management and Guest</span></strong> </p>
<p><span style="color: #000000;">Nothing herein above shall continue or be deemed to constitute, or create any tenancy or sub-tenancy, or any other right to interact in the hotel premises or any part of portion thereof, in favour of any Guest or resident or visitor, and the Management shall always be deemed to be in full and absolute possession of the whole of the hotel premises.</span> </p>
<p><strong><span style="color: #000000;">19. Government rules and regulations &amp; application of laws</span></strong> </p>
<p><span style="color: #000000;">Guest are requested to observe, abide by confirm to and be bound by all applicable acts and laws and Government rules and regulations in force from time to time.</span> </p>
<p><strong><span style="color: #000000;">20. Photographs &amp; Video's</span></strong> </p>
<p><span style="color: #000000;">Using photographs and video's taken in hotel for commercial or public purposes is illegal. Those who do so will be subject to prosecution.</span> </p>
<p align="center"><strong><span style="color: #000000;">General Policy</span></strong> </p>
<p><span style="color: #000000;">The Hotel has a zero tolerance policy in which it will refuse to admit or refuse service or accommodation in the hotel or may remove a person who: while on the premises of the hotel acts in an obviously intoxicated or disorderly manner, destroys or threatens to destroy hotel property, or causes or threatens to cause a public disturbance; or refuses or is unable to pay for the accommodations or services.</span> </p>
<p><span style="color: #000000;">12FLY Hotel may limit the number of persons who may occupy a particular guest room in the hotel and will only allow registered guests to use its facilities.</span> </p>
<p><span style="color: #000000;">A person who negligently or intentionally causes damage to the hotel or any furniture or furnishings within the hotel, shall be liable for damages sustained by the hotel staff, including the hotel's loss of revenue resulting from the inability to rent or lease rooms while the damage is being repaired.</span> </p>
<marquee><p><strong><span style="color: #000000;">THE HOTEL’S MANAGEMENT RESERVES TO ITSELF THE RIGHT TO ADD TO, OR ALTER OR AMEND ANY OF THE ABOVE TERMS, CONDITIONS AND RULES WHICH ARE A PART AND AN ABSTRACT OF THE LODGING ACT.</span></strong></p></marquee>
				<center><button onclick="goBack()" style="background-color:green;color:white;" >AGREE</button> </center>

</div>

		</div>
	</div>


</div>

</div>

</body>
</html>
